<h1><%= context.subject.title %></h1>
<p><%= context.subject.intro %></p>

<form method="get" action="<%= subject_path context.subject %>">
  <ol>
    <%= render context.next_question %>
  </ol>
  <input type="submit" value="Submit" />
</form>
