<h1><%= context.subject.title %></h1>
<p><%= context.subject.intro %></p>

<ol>
  <% if !context.all_answered? %>
    <%= render context.next_question %>
  <% end %>
</ol>
<% if context.all_answered? %>
  <%= render 'outcome' %>
<% end %>
